<h1>Bonus Computation Sheet of {{salesman?.firstName +' '+ salesman?.lastName}}</h1>
<div class="stats-button-container ">
    <button class="stats-button">stats</button>
</div>

<div class="bonus-sheet">
    <div class="container">
        <div class="salesman-data">
            <div class="columnLeft">Name:</div>
            <div class="columnRight">{{salesman?.firstName +' '+ salesman?.lastName}}</div>
            <div class="columnLeft">Government ID:</div>
            <div class="columnRight">{{salesman?.employeeCode}}</div>
            <div class="columnLeft">Department:</div>
            <div class="columnRight">{{salesman?.unit}}</div>
            <div class="columnLeft">Year of Performance:</div>
            <div class="columnRight">{{performanceDate | date:'yyyy'}}</div>
        </div>

        <app-orders-evaluation [performanceReport]="performanceReport" [salesPerformanceArray]="salesPerformanceArray"></app-orders-evaluation>

       <app-social-performance-evaluation [performanceReport]="performanceReport" [socialPerformanceArray]="socialPerformanceArray"></app-social-performance-evaluation>

        <hr *ngIf="performanceReport?.calculatedBonus">
        <div class="overall-bonus">
            <div class="left-block" style="width: 70%;">
                <p style="font-weight: 500; " *ngIf="performanceReport?.calculatedBonus"> Overall Bonus:</p>
            </div>
            <div class="right-block" style="font-weight: bolder; width: 30%; text-align: center;">
                {{performanceReport?.calculatedBonus?.totalBonus?.sum||''}}
            </div>
        </div>
        <app-remark-enter-field [performanceReport]=performanceReport> </app-remark-enter-field>

    </div>
    <!--
    Das Rendering des Buttons in Angular (z. B. mit {{ getButtonText() }}, Property Binding ([property] und [ngClass]) erfolgt während des Change Detection-Zyklus von Angular.
     Das bedeutet, dass das Template neu gerendert wird, wenn Angular Änderungen in der Komponente oder ihren Daten feststellt.
     -->
    <div class="button-container">
        <button mat-fab extended class='button-style' [disabled]="disableButtonForCEO" (click)='handleButtonCEO()'> {{ getButtonTextCEO() }} </button>
        <button mat-fab extended class='button-style' [disabled]="disableButtonForHR" (click)='handleButtonHR()' > {{ getButtonTextHR() }} </button>
        <button mat-fab extended class='button-style' (click)='handleButtonClick()' *ngIf="!performanceReport?.calculatedBonus">calculate bonus</button>
    </div>
    </div>
