
<h1> Basic master data of a salesman 👨‍🍳</h1>
<table mat-table class="mat-elevation-z8 cdk-table" [dataSource]="employee">

    <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let employee">{{employee.employeeId}}</td>
    </ng-container>


    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let employee">{{employee.firstName}}</td>
    </ng-container>


    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let employee">{{employee.lastName}}</td>
    </ng-container>


    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let employee">{{employee.unit}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
