<h2>Details to Contract "{{order.name}}"</h2>
<br>
<br>

<div class="orderDetails">

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title><h1 style="margin-bottom: 0">{{order.name}}</h1></mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>Contract</mat-card-subtitle>
        <br>
        <br>
        <br>
        <mat-card-content>
            <div>
                <div class="columnLeft">Order number:</div>
                <div class="columnRight">{{order.contractID}}</div>
            </div>
            <div>
                <div class="columnLeft">Seller:</div>
                <div class="columnRight">{{order.sellerName}}</div>
            </div>

            <div>
                <div class="columnLeft">Priority:</div>
                <div class="columnRight">{{order.priority | transformPriority}}</div>
            </div>
            <div>
                <div class="columnLeft">State:</div>
                <div class="columnRight">{{order.state}}</div>
            </div>
            <div>
                <div class="columnLeft">Active from:</div>
                <div class="columnRight">{{order.activeOn  | date:'yyyy-MM-dd HH:mm:ss' }}</div>
            </div>
            <div>
                <div class="columnLeft">Expires on:</div>
                <div class="columnRight">{{order.expiresOn  | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
            <div>
                <div class="columnLeft">Currency</div>
                <div class="columnRight">{{order.contractCurrency}}</div>
            </div>
            <h3 style="margin-top: 15px; margin-bottom: 5px">Pricing</h3>
            <div>
                <div class="columnLeft">Pricingrule</div>
                <div class="columnRight">{{order.pricingRule}}</div>
            </div>
            <div>
                <div class="columnLeft">Pricingstate</div>
                <div class="columnRight">{{order.pricingState}}</div>
            </div>
            <div>
                <div class="columnLeft">Calculationrule</div>
                <div class="columnRight">{{order.calcRule}}</div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title><h1>Positions</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div *ngFor="let item of position">
                <br>
                <br>
                <div> <h2 style="margin-bottom: 0">Product: {{item.products[0].name}} </h2></div>
                <div class="columnLeft">Quantity:</div>
                <div class="columnRight">{{item.quantity | number:'1.0-0'}}</div>
                <div class="columnLeft">Price per Unit: </div>
                <div class="columnRight">{{item.pricePerUnit | number:'1.2-2'}}</div>
                <div class="columnLeft">Base Amount: </div>
                <div class="columnRight">{{item.baseAmount | number:'1.2-2'}}</div>
                <div class="columnLeft">Tax Amount: </div>
                <div class="columnRight">{{item.taxAmount | number:'1.2-2'}}</div>
                <div class="columnLeft">Total Amount: </div>
                <div class="columnRight">{{item.amount | number:'1.2-2'}}</div>
            </div>
            <br>
            <hr style="display: flex; width: 90%">
            <div><h3 class="columnLeft">Overall Total:</h3></div>
            <div class="columnRight"><h3>{{overallAmount}}</h3></div>
        </mat-card-content>

    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-header>
        <mat-card-title><h1 style="margin-bottom: 0">{{order.clientName}}</h1></mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>Clientname</mat-card-subtitle>
        <br>
        <br>
        <br>
        <mat-card-content>
        <div>
            <div class="columnLeft">ClientID:</div>
            <div class="columnRight">{{order.clientID}}</div>
        </div>
        <div>
            <div class="columnLeft">Number of Employee Category:</div>
            <div class="columnRight">{{clientAccount.numberOfEmployeesCategory}}</div>
        </div>
        <div>
            <div class="columnLeft">Street: </div>
            <div class="columnRight">{{clientAccount.vcard.ADR.STREET}}</div>
        </div>
        <div>
            <div class="columnLeft">City: </div>
            <div class="columnRight">{{clientAccount.vcard.ADR.CITY}}</div>
        </div>
        <div>
            <div class="columnLeft">Kanton: </div>
            <div class="columnRight">{{clientAccount.vcard.ADR.KANTON}}</div>
        </div>
        <div>
            <div class="columnLeft">Postalcode: </div>
            <div class="columnRight">{{clientAccount.vcard.ADR.POSTALCODE}}</div>
        </div>
        <div>
            <div class="columnLeft">Country: </div>
            <div class="columnRight">{{clientAccount.vcard.ADR.COUNTRY}}</div>
        </div>
        </mat-card-content>
    </mat-card>


</div>


