<h2> Login </h2>

<mat-form-field appearance="fill">
  <mat-label>username</mat-label>
  <input type="text" [(ngModel)]="credentials.username" name="username" matInput> <!-- [(ngModel)] creates a two-way binding between input & variable -->
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>password</mat-label>
  <input type="password" (keydown.enter)="performLogin()" [(ngModel)]="credentials.password" name="password" matInput> <!-- (keydown.enter) specifies an event-handler for pressing the enter key, while this input is focussed -->
</mat-form-field>

<span class="error" *ngIf="loginError">{{loginError}}</span>
<button class="register"  (click)="goToRegister()" mat-raised-button color="primary">Register</button>
<button (click)="performLogin()" mat-raised-button color="primary">Confirm</button>
