
<h2> Register </h2>

<mat-form-field appearance="fill">
    <mat-label>username</mat-label>
    <input type="text" [(ngModel)]="credentials.username" name="username" matInput> <!-- [(ngModel)] creates a two-way binding between input & variable -->
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Job Title</mat-label>
    <input type="text" name="Job Title" placeholder="CEO, HR, Salesman" matInput> <!-- [(ngModel)] creates a two-way binding between input & variable -->
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input type="password" matInput>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>confirm password</mat-label>
    <input type="password" name="password" [(ngModel)]="credentials.password" (keydown.enter)="performRegister()" matInput>
</mat-form-field>

<span class="error" *ngIf="loginError">{{loginError}}</span>
<button (click)="performRegister()" mat-raised-button color="primary">Confirm</button> <!-- (click) creates a one-way output-binding, which is invoked by click events  -->
<button class="login" (click)="goToLogin()" mat-raised-button color="primary"> Login </button>
