.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: rgb(173,216,230);
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: right;
    width: 100%;
}

.graph-button{
    background-color: rgb(64,84,180);
    color: white;
}

.graph-button:hover{
    background-color: rgb(64,76,148)
}

