<h1>All Performance Reports</h1>

<div class="order-list">
    <table mat-table [dataSource]="flattenedSalesmenReports" class="mat-elevation-z8 demo-table">
        <!-- Salesman Name Column -->
        <ng-container matColumnDef="salesmanName">
            <th mat-header-cell *matHeaderCellDef>Employee Name</th>
            <td mat-cell *matCellDef="let item">{{ item.salesman.firstName + ' ' + item.salesman.lastName }}</td>
        </ng-container>

        <!-- Salesman ID Column -->
        <ng-container matColumnDef="salesmanId">
            <th mat-header-cell *matHeaderCellDef>Government ID</th>
            <td mat-cell *matCellDef="let item">{{ item.salesman.employeeCode }}</td>
        </ng-container>

        <!-- Performance Report Date Column -->
        <ng-container matColumnDef="reportDate">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let item">{{ item.report.date | date:'mediumDate' }}</td>
        </ng-container>

        <!-- Performance Report Details Column -->
        <ng-container matColumnDef="reportDetails">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let item">{{ item.report.isAccepted | approval: item.report.isAcceptedByCEO && item.report.isAcceptedByHR}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click) = handleSalesmanClick(item.salesman.employeeId,item.report.date);></tr>
    </table>
</div>
